@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;


$background: #FFFFFF;
$text-color: #3C4143;
$background-2: #F4F5F5;
$akzentfarbe: #FF0000;
$andere-akzentfarbe: #206CAF;

.fullScreen {
  width: 100% !important;
  max-width: 100%;
}

.chat-page-grid {
  padding: 1rem;
}

.chat-container {
  display: flex;
  min-height: 90vh;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}



