apiVersion: v1
kind: Secret
metadata:
  name: catalog-db-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
type: Opaque
stringData:
  db-password: "{{ .Values.db.password }}"
