apiVersion: v1
kind: Secret
metadata:
  name: catalog-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
type: Opaque
stringData:
  admin-password: "{{ .Values.backend.adminPasswordHash }}"
