apiVersion: v1
kind: Pod
metadata:
  name: "ai-services-catalog"
  labels:
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/ports: "{{ .Values.ui.port }}:3000,{{ .Values.backend.port }}:8080"
spec:
  containers:
    - name: ui
      image: "{{ .Values.ui.image }}"
      resources:
        requests:
          memory: "512Mi"
        limits:
          memory: "512Mi"
      env:
        - name: BACKEND_HOST
          value: "ai-services-catalog"
        - name: BACKEND_PORT
          value: "8080" 
      ports:
        - containerPort: 3000
          protocol: TCP
      livenessProbe:
        httpGet:
          path: /
          port: 3000
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
    - name: backend
      image: "{{ .Values.backend.image }}"
      command: ["/bin/sh", "-c"]
      args:
        - "/usr/bin/ai-services catalog apiserver --port=8080 --admin-username=admin --admin-password-hash=${ADMIN_PASSWORD}"
      securityContext:
        seLinuxOptions:
          type: "spc_t"
      env:
        - name: AUTH_JWT_SECRET
          value: "{{ .Values.backend.jwtSecret }}"
        - name: CONTAINER_HOST
          value: "unix://{{ .Values.backend.podman.uri }}"
        - name: RUNTIME
          value: "{{ .Values.backend.runtime }}"
        - name: ADMIN_PASSWORD
          value: "{{ .Values.backend.adminPasswordHash }}"
      ports:
        - containerPort: 8080
          protocol: TCP
      volumeMounts:
        - name: podman-socket
          mountPath: {{ .Values.backend.podman.uri }}
        - name: iommu-groups
          mountPath: /sys/kernel/iommu_groups
          readOnly: true
      resources:
        requests:
          podman.io/device=/dev/vfio: 4
          memory: "1Gi"
        limits:
          memory: "1Gi"
  volumes:
    - name: podman-socket
      hostPath:
        # For rootless podman: /run/user/$(id -u)/podman/podman.sock
        # For root podman: /run/podman/podman.sock
        path: {{ .Values.backend.podman.uri }}
        type: Socket
    - name: iommu-groups
      hostPath:
        path: /sys/kernel/iommu_groups
        type: Directory
