apiVersion: v1
kind: Pod
metadata:
  name: "chat-bot-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
  annotations:
    ai-services.io/ports: "{{ .Values.ui.port }}:3000,{{ .Values.backend.port }}:5000"
spec:
  containers:
    - name: ui
      image: "{{ .Values.ui.image }}"
      resources:
        requests:
          memory: "512Mi"
        limits:
          memory: "512Mi"
      env:
        - name: BACKEND_HOST
          value: "chat-bot-{{ .InstanceSlug }}"
        - name: BACKEND_PORT
          value: "5000"
        - name: SIMILARITY_SEARCH_HOST
          value: "similarity-api-{{ .InstanceSlug }}"
        - name: SIMILARITY_SEARCH_PORT
          value: "7000"
        - name: CHATBOT_SEARCH_MODE
          value: "{{ .Values.backend.chatbot.searchMode }}"
        - name: CHATBOT_NUM_CHUNKS_POST_RERANKER
          value: "{{ .Values.backend.chatbot.numChunksPostReranker }}"
        - name: CHATBOT_RERANK
          value: "{{ .Values.backend.chatbot.rerank }}"
      ports:
        - containerPort: 3000
          protocol: TCP
      livenessProbe:
        httpGet:
          path: /
          port: 3000
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
    - name: backend-server
      image: "{{ .Values.backend.image }}"
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "uvicorn"
        - "app:app"
        - "--host"
        - "0.0.0.0"
        - "--port"
        - "5000"
        - "--loop"
        - "uvloop"
        - "--http"
        - "httptools"
      env:
        - name: EMB_ENDPOINT
          value: "http://{{ .Values.embedding.host }}:{{ .Values.embedding.port }}"
        - name: EMB_MODEL
          value: "{{ .Values.embedding.model }}"
        - name: EMB_MAX_MODEL_LEN
          value: "{{ .Values.embedding.maxModelLen }}"
        - name: LLM_ENDPOINT
          value: "http://{{ .Values.llm.host }}:{{ .Values.llm.port }}"
        - name: LLM_MODEL
          value: "{{ .Values.llm.model }}"
        - name: LLM_MAX_MODEL_LEN
          value: "{{ .Values.llm.maxModelLen }}"
        - name: LLM_MAX_BATCH_SIZE
          value: "{{ .Values.llm.maxBatchSize }}"
        - name: RERANKER_ENDPOINT
          value: "http://{{ .Values.reranker.host }}:{{ .Values.reranker.port }}"
        - name: RERANKER_MODEL
          value: "{{ .Values.reranker.model }}"
        - name: OPENSEARCH_HOST
          value: "{{ .Values.vector_store.host }}"
        - name: OPENSEARCH_PORT
          value: "{{ .Values.vector_store.port }}"
        - name: OPENSEARCH_DB_PREFIX
          value: "RAG_DB"
        - name: OPENSEARCH_INDEX_NAME
          value: "RAG_INDEX"
        - name: OPENSEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: "opensearch-secret-{{ .Values.vector_store.instanceSlug }}"
              key: username
        - name: OPENSEARCH_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "opensearch-secret-{{ .Values.vector_store.instanceSlug }}"
              key: password
        - name: OPENSEARCH_NUM_SHARDS
          value: "1"
        - name: LOG_LEVEL
          value: "{{ .Values.backend.log_level }}"
        - name: CHATBOT_SEARCH_MODE
          value: "{{ .Values.backend.chatbot.searchMode }}"
        - name: CHATBOT_NUM_CHUNKS_POST_RERANKER
          value: "{{ .Values.backend.chatbot.numChunksPostReranker }}"
        - name: CHATBOT_RERANK
          value: "{{ .Values.backend.chatbot.rerank }}"
      ports:
        - containerPort: 5000
          protocol: TCP
      livenessProbe:
        httpGet:
          path: /health
          port: 5000
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "1Gi"
        limits:
          memory: "1Gi"
