@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme' with (
  $theme: themes.$white
);
@use '@carbon/react';
@use '@carbon/ibm-products/css/index.min.css';

[data-carbon-theme='g100'] {
  @include theme.theme(themes.$g100);
}

html,
body {
  margin: 0;
  background-color: var(--cds-background);
  transition: background-color 0.2s ease;
}

.appLayout {
  min-height: 100vh;
  padding-top: 3rem;
  padding-left: 3rem;
  transition: background-color 0.2s ease;
  background-color: var(--cds-background);
  
  main {
    margin-left: 0;
    transition: margin-left 0.11s cubic-bezier(0.2, 0, 1, 0.9);
    
    &.sideNavExpanded {
      margin-left: 13rem; // 16rem (expanded nav width) - 3rem (base padding-left)
    }
  }
}

@media (min-width: 42rem) {
  .cds--css-grid--full-width {
    padding: 0;
  }

  .cds--css-grid-column {
    margin-inline: 0;
  }
}
