@use "@carbon/react";
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/theme" as *;

// .landing-page__r2 .cds--tabs--scrollable {
//   transform: translateZ(0);
//   justify-content: flex-end;
// }

// .landing-page__r2 .cds--tab-content {
//   padding: 0;
// }

// .landing-page__illo {
//   max-width: 100%;
// }

// .landing-page__banner {
//   padding-top: $spacing-05;
//   padding-bottom: $spacing-07 * 4;
//   padding-left: $spacing-06;
// }

// @mixin landing-page-background() {
//   background-color: $layer-01;
//   position: relative;
// }

// .landing-page__banner {
//   padding-top: $spacing-05;
//   padding-bottom: $spacing-07 * 4;
//   padding-left: $spacing-06;
//   @include landing-page-background;
// }

// .landing-page__heading {
//   @include type-style("productive-heading-05");
// }
// .landing-page__sub_heading {
//   @include type-style("productive-heading-04");
// }
// .landing-page__r2 {
//   margin-top: -2.5rem;
// }

// .tabs-group-content {
//   padding: $spacing-10 $spacing-06;
// }

// .landing-page__subheading {
//   @include type-style("productive-heading-03");

//   font-weight: 600;
// }

// .landing-page__r3 {
//   padding-top: $spacing-09;
//   padding-bottom: $spacing-09;
//   padding-left: $spacing-06;
//   @include landing-page-background;
// }

// .landing-page__label {
//   @include type-style("heading-01");
// }

// .landing-page__banner,
// .landing-page__r2,
// .landing-page__r3 {
//   margin-left: -20px;
//   margin-right: -20px;

//   @include breakpoint-down(md) {
//     margin-left: 0;
//     margin-right: 0;
//   }
// }

.cds--content {
  margin-top: 3rem;
  padding: 0;
  background: var(--cds-background);
}

// // .cds--content .cds--css-grid {
// //   max-width: 100%;
// //   @include breakpoint(md) {
// //     padding-left: 20px;
// //     padding-right: 20px;
// //   }
// // }

