apiVersion: v1
kind: Pod
metadata:
  name: "{{ .InstanceSlug }}--hello-api"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
  annotations:
    ai-services.io/routes: "8080:hello-api-{{ .InstanceSlug }}:api"
spec:
  containers:
    - name: hello-api
      image: "{{ .Values.helloapi.image }}"
      ports:
        - containerPort: 8080
      command:
        - /bin/sh
        - -c
        - >-
          echo '{"greeting":"{{ .Values.helloapi.greeting }}"}' > /greeting.json &&
          exec httpd -f -p 8080 -h /
