apiVersion: v1
kind: Pod
metadata:
  name: "opensearch-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
  annotations:
    io.podman.annotations.pids-limit/opensearch: "4096"
spec:
  initContainers:
    - name: fix-permissions
      image: "{{ .Values.image }}"
      command: ["sh", "-c", "chown -R 1000:1000 /usr/share/opensearch/data"]
      securityContext:
        runAsUser: 0
      volumeMounts:
        - name: opensearch-data
          mountPath: /usr/share/opensearch/data
  containers:
    - name: opensearch
      image: "{{ .Values.image }}"
      env:
        - name: "discovery.type"
          value: "single-node"
        - name: OPENSEARCH_USERNAME
          valueFrom:
            secretKeyRef:
              name: "opensearch-secret-{{ .InstanceSlug }}"
              key: username
        - name: OPENSEARCH_INITIAL_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: "opensearch-secret-{{ .InstanceSlug }}"
              key: password
        - name: OPENSEARCH_JAVA_OPTS
          value: "-Xms4g -Xmx4g -XX:MaxDirectMemorySize=2g -XX:-UseSuperWord -XX:TieredStopAtLevel=1"
      ports:
        - name: os-client-port
          containerPort: 9200
        - name: os-metrics-port
          containerPort: 9600
      resources:
        requests:
          memory: "{{ .Values.memoryLimit }}"
        limits:
          memory: "{{ .Values.memoryLimit }}"
      securityContext:
        runAsUser: 1000
        fsGroup: 1000
      volumeMounts:
        - mountPath: /usr/share/opensearch/data:z
          name: opensearch-data
      livenessProbe:
        exec:
          command:
          - sh
          - -c
          - curl -fk -u "$OPENSEARCH_USERNAME:$OPENSEARCH_INITIAL_ADMIN_PASSWORD" https://localhost:9200/_cluster/health
        initialDelaySeconds: 90
        periodSeconds: 30
        timeoutSeconds: 20
        failureThreshold: 5
  volumes:
    - name: opensearch-data
      hostPath:
        path: "{{ .BaseDir }}/applications/components/{{ .InstanceSlug }}/volumes/opensearch"
        type: DirectoryOrCreate
