apiVersion: v1
kind: Secret
metadata:
  name: "opensearch-secret-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
type: Opaque
stringData:
  username: "{{ .Values.auth.username }}"
  password: "{{ .Values.auth.password }}"
