apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--similarity-api"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/ports: "{{ or .Values.similarity.port }}:7000"
spec:
  containers:
    - name: similarity-api
      image: "{{ .Values.similarity.image }}"
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "uvicorn"
        - "app:app"
        - "--host"
        - "0.0.0.0"
        - "--port"
        - "7000"
        - "--loop"
        - "uvloop"
        - "--http"
        - "httptools"
      env:
        - name: PORT
          value: "7000"
        - name: EMB_ENDPOINT
          value: "http://{{ .AppName  }}--vllm-server:8001"
        - name: EMB_MODEL
          value: "{{ .Values.embedding.model.name }}"
        - name: EMB_MAX_MODEL_LEN
          value: "{{ .Values.embedding.model.maxModelLen }}"
        - name: RERANKER_ENDPOINT
          value: "http://{{ .AppName  }}--vllm-server:8002"
        - name: RERANKER_MODEL
          value: "{{ .Values.reranker.model.name }}"
        - name: OPENSEARCH_HOST
          value: "{{ .AppName  }}--opensearch"
        - name: OPENSEARCH_PORT
          value: "9200"
        - name: OPENSEARCH_DB_PREFIX
          value: "RAG_DB"
        - name: OPENSEARCH_INDEX_NAME
          value: "RAG_INDEX"
        - name: OPENSEARCH_USERNAME
          value: "{{ .Values.opensearch.auth.username }}"
        - name: OPENSEARCH_PASSWORD
          value: "{{ .Values.opensearch.auth.password }}"
        - name: LOG_LEVEL
          value: "{{ .Values.similarity.log_level}}"
      resources:
        requests:
          memory: "512Mi"
        limits:
          memory: "1Gi"
      ports:
        - containerPort: 7000
          protocol: TCP
      livenessProbe:
        httpGet:
          path: /health
          port: 7000
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
