{{- if .Values.instruct.apiKey }}
apiVersion: v1
kind: Secret
metadata:
  name: vllm-instruct-secret
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
type: Opaque
stringData:
  api-key: {{ .Values.instruct.apiKey }}
{{- end }}