apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--ingest-docs"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/start: "off"
spec:
  initContainers:
    - name: digitize-db-init
      image: "{{ .Values.digitize.image }}"
      command: ["/var/venv/bin/python", "db/scripts/init_db.py"]
      env:
        - name: POSTGRES_HOST
          value: "{{ .AppName }}--postgres"
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_DB
          value: "{{ .Values.digitize.database }}"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "{{ .Values.postgres.password }}"
  containers:
    - name: ingest-docs
      image: "{{ .Values.digitize.image }}"
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "digitize.cli"
        - "ingest"
      resources:
        requests:
          memory: "50Gi"
        limits:
          memory: "50Gi"
      env:
        - name: POSTGRES_HOST
          value: "{{ .AppName }}--postgres"
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_DB
          value: "{{ .Values.digitize.database }}"
        - name: POSTGRES_USER
          value: "postgres"
        - name: POSTGRES_PASSWORD
          value: "{{ .Values.postgres.password }}"
        - name: DB_POOL_SIZE
          value: "5"
        - name: DB_MAX_OVERFLOW
          value: "5"
        - name: EMB_ENDPOINT
          value: "http://{{ .AppName  }}--vllm-server:8001"
        - name: EMB_MODEL
          value: "{{ .Values.embedding.model.name }}"
        - name: EMB_MAX_MODEL_LEN
          value: "{{ .Values.embedding.model.maxModelLen }}"
        - name: LLM_ENDPOINT
          value: "http://{{ .AppName  }}--vllm-server:8000"
        - name: LLM_MODEL
          value: "{{ .Values.instruct.model.name }}"
        - name: OPENSEARCH_HOST
          value: "{{ .AppName  }}--opensearch"
        - name: OPENSEARCH_PORT
          value: "9200"
        - name: OPENSEARCH_DB_PREFIX
          value: "RAG_DB"
        - name: OPENSEARCH_INDEX_NAME
          value: "RAG_INDEX"
        - name: OPENSEARCH_USERNAME
          value: "{{ .Values.opensearch.auth.username }}"
        - name: OPENSEARCH_PASSWORD
          value: "{{ .Values.opensearch.auth.password }}"
        - name: OPENSEARCH_NUM_SHARDS
          value: "1"
        - name: LOG_LEVEL
          value: "{{ .Values.ingest.log_level}}"
        {{- if .Values.instruct.apiKey }}
        - name: LLM_API_KEY
          value: "{{ .Values.instruct.apiKey }}"
        {{- end }}
      volumeMounts:
        - mountPath: /var/docs:z
          name: docs
          readOnly: true
        - mountPath: /var/cache:z
          name: cache
  restartPolicy: Never
  volumes:
    - name: docs
      hostPath:
        path: "{{ .BaseDir }}/applications/{{ .AppName }}/docs"
        type: DirectoryOrCreate
    - name: cache
      hostPath:
        path: "{{ .BaseDir }}/applications/{{ .AppName }}/cache"
        type: DirectoryOrCreate
