apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--summarize-api"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    ai-services.io/ports: "{{ or .Values.summarize.port "5001" }}:5001"
spec:
  containers:
    - name: summarize-api
      image: "{{ .Values.summarize.image }}"
      command:
        - "/var/venv/bin/python"
        - "-m"
        - "summarize.app"
      env:
        - name: PORT
          value: "5001"
        - name: LLM_ENDPOINT
          value: "http://{{ .AppName  }}--vllm-server:8000"
        - name: LLM_MODEL
          value: "ibm-granite/granite-3.3-8b-instruct"
        - name: LOG_LEVEL
          value: "{{ .Values.summarize.log_level}}"
      ports:
        - containerPort: 5001
          protocol: TCP
      livenessProbe:
        httpGet:
          path: /health
          port: 5001
        initialDelaySeconds: 10
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "1Gi"
        limits:
          memory: "1Gi"
