apiVersion: v1
kind: Pod
metadata:
  name: "{{ .AppName }}--vllm-server"
  labels:
    ai-services.io/application: "{{ .AppName }}"
    ai-services.io/template: "{{ .AppTemplateName }}"
    ai-services.io/version: "{{ .Version }}"
  annotations:
    io.podman.annotations.ulimit: "nofile=134217728:134217728,memlock=-1:-1"
    io.podman.annotations.userns: "keep-id"
    run.oci.keep_original_groups: "1"
    ai-services.io/model1: {{ .Values.reranker.model.name }}
    ai-services.io/model2: {{ .Values.embedding.model.name }}
    ai-services.io/model3: {{ .Values.instruct.model.name }}
    ai-services.io/instruct--spyre-cards: "4"
spec:
  volumes:
    - name: dshm
      emptyDir:
        medium: Memory
        sizeLimit: 64Gi
    - name: dshm2
      emptyDir:
        medium: Memory
        sizeLimit: 64Gi
    - name: dshm3
      emptyDir:
        medium: Memory
        sizeLimit: 512Mi
    - name: models
      hostPath:
        path: "{{ .BaseDir }}/models"
        type: Directory
  containers:
    - name: instruct
      image: "{{ .Values.instruct.image }}"
      command: ["/bin/bash"]
      args:
        - "-c"
        - |
          /opt/app-root/spyre_entrypoint.sh \
          --model ${VLLM_MODEL_PATH} \
          -tp ${AIU_WORLD_SIZE} \
          --max-model-len ${MAX_MODEL_LEN} \
          --max-num-seqs ${MAX_BATCH_SIZE} \
          --served-model-name {{ .Values.instruct.model.name }} \
          --port 8000 \
          --enable-auto-tool-choice \
          --tool-call-parser granite4 
      livenessProbe:
        httpGet:
          path: /health
          port: 8000
        initialDelaySeconds: 420
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      env:
        - name: VLLM_MODEL_PATH
          value: "/models/{{ .Values.instruct.model.name }}"
        - name: AIU_WORLD_SIZE
          value: "4"
        - name: VLLM_SPYRE_USE_CB
          value: "1"
        - name: MAX_MODEL_LEN
          value: "{{ .Values.instruct.model.maxModelLen }}"
        - name: MAX_BATCH_SIZE
          value: "{{ .Values.instruct.model.maxBatchSize }}"
        - name: MASTER_PORT
          value: "12355"
        {{- if .Values.instruct.apiKey }}
        - name: VLLM_API_KEY
          value: "{{ .Values.instruct.apiKey }}"
        {{- end }}
        {{- /* Check if .env.instruct exists and is a non-empty map */}}
        {{- with .env.instruct }}
          {{- /* If it does, '.' (dot) is now scoped to .env.instruct */}}
          {{- range $k, $v := . }}
        - name: {{ $k }}
          value: "{{ $v }}"
          {{- end }}
        {{- end }}
      resources:
        requests:
          podman.io/device=/dev/vfio: 4
          memory: "200Gi"
        limits:
          memory: "200Gi"
      ports:
        - containerPort: 8000
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/shm
          name: dshm
    - name: embedding
      image: "{{ .Values.embedding.image }}"
      command: ["/bin/sh", "-c"]
      args: [
          "vllm serve /models/{{ .Values.embedding.model.name }} --served-model-name {{ .Values.embedding.model.name }} --port 8001 --gpu-memory-utilization=0.5"
      ]
      livenessProbe:
        httpGet:
          path: /health
          port: 8001
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "5Gi"
        limits:
          memory: "5Gi"
      ports:
        - containerPort: 8001
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/shm
          name: dshm3
    - name: reranker
      image: "{{ .Values.reranker.image }}"
      command: ["/bin/sh", "-c"]
      args: [
          "vllm serve /models/{{ .Values.reranker.model.name }} --served-model-name {{ .Values.reranker.model.name }} --port 8002 --gpu-memory-utilization=0.5 --max-model-len=1024 --dtype=bfloat16"
      ]
      livenessProbe:
        httpGet:
          path: /health
          port: 8002
        initialDelaySeconds: 120
        periodSeconds: 30
        timeoutSeconds: 5
        failureThreshold: 3
      resources:
        requests:
          memory: "5Gi"
        limits:
          memory: "5Gi"
      ports:
        - containerPort: 8002
      volumeMounts:
        - mountPath: /models:z
          name: models
          readOnly: true
        - mountPath: /dev/shm
          name: dshm2
