apiVersion: v1
kind: Secret
metadata:
  name: "summarize-db-secret-{{ .InstanceSlug }}"
  labels:
    ai-services.io/template: "{{ .TemplateID }}"
type: Opaque
stringData:
  username: "{{ .Values.postgres.username }}"
  password: "{{ .Values.postgres.password }}"
